# Problem Statement : Build machine learning model that can predict price of the house based on different features like address,rooms,type,seller etc.

# Import required libraries for Linear Regression

In [1]:
import pandas as pd  # For data analysis
import numpy as np  # For data analysis
import matplotlib.pyplot as plt  # For data visualization
%matplotlib inline
import seaborn as sns  # For data visualization
from sklearn.linear_model import LinearRegression # For regression in machine learning
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error  # For accuracy,mean squared error,mean absolute error
from sklearn.model_selection import train_test_split  # For separating training and testing data

# Setting Path

In [2]:
cd C:\Data Science Docs\Python Docs\Python ML Projects\Linear Regression Project 2

C:\Data Science Docs\Python Docs\Python ML Projects\Linear Regression Project 2

# Data Exploration and Pre Processing

Load the given dataset

In [3]:
homeprices = pd.read_csv('homeprices.csv')
homeprices

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,03/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,04/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

Print all the column names

In [4]:
homeprices.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

Describe the data

In [5]:
homeprices.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,34857.000000,2.724700e+04,34856.000000,34856.000000,26640.000000,26631.000000,26129.000000,23047.000000,13742.00000,15551.000000,26881.000000,26881.000000,34854.000000
mean,3.031012,1.050173e+06,11.184929,3116.062859,3.084647,1.624798,1.728845,593.598993,160.25640,1965.289885,-37.810634,145.001851,7572.888306
std,0.969933,6.414671e+05,6.788892,109.023903,0.980690,0.724212,1.010771,3398.841946,401.26706,37.328178,0.090279,0.120169,4428.090313
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1196.000000,-38.190430,144.423790,83.000000
25%,2.000000,6.350000e+05,6.400000,3051.000000,2.000000,1.000000,1.000000,224.000000,102.00000,1940.000000,-37.862950,144.933500,4385.000000
50%,3.000000,8.700000e+05,10.300000,3103.000000,3.000000,2.000000,2.000000,521.000000,136.00000,1970.000000,-37.807600,145.007800,6763.000000
75%,4.000000,1.295000e+06,14.000000,3156.000000,4.000000,2.000000,2.000000,670.000000,188.00000,2000.000000,-37.754100,145.071900,10412.000000
max,16.000000,1.120000e+07,48.100000,3978.000000,30.000000,12.000000,26.000000,433014.000000,44515.00000,2106.000000,-37.390200,145.526350,21650.000000

Drop address, date, postcode, YearBuilt, lattitude, longtitude columns

In [7]:
homeprices = homeprices.drop(['Address','Date','Postcode','YearBuilt','Lattitude','Longtitude'],axis=1)
homeprices

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
0,Abbotsford,2,h,NaN,SS,Jellis,2.5,2.0,1.0,1.0,126.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
1,Abbotsford,2,h,1480000.0,S,Biggin,2.5,2.0,1.0,1.0,202.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1035000.0,S,Biggin,2.5,2.0,1.0,0.0,156.0,79.0,Yarra City Council,Northern Metropolitan,4019.0
3,Abbotsford,3,u,NaN,VB,Rounds,2.5,3.0,2.0,1.0,0.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1465000.0,SP,Biggin,2.5,3.0,2.0,0.0,134.0,150.0,Yarra City Council,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,4,h,1480000.0,PI,Jas,6.3,4.0,1.0,3.0,593.0,NaN,Maribyrnong City Council,Western Metropolitan,6543.0
34853,Yarraville,2,h,888000.0,SP,Sweeney,6.3,2.0,2.0,1.0,98.0,104.0,Maribyrnong City Council,Western Metropolitan,6543.0
34854,Yarraville,2,t,705000.0,S,Jas,6.3,2.0,1.0,2.0,220.0,120.0,Maribyrnong City Council,Western Metropolitan,6543.0
34855,Yarraville,3,h,1140000.0,SP,hockingstuart,6.3,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,Western Metropolitan,6543.0
34856,Yarraville,2,h,1020000.0,PI,RW,6.3,2.0,1.0,0.0,250.0,103.0,Maribyrnong City Council,Western Metropolitan,6543.0

Find the count of null value in each column

In [8]:
homeprices.isnull().sum()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        3
dtype: int64

Fill the null value of property count, distance, Bedroom2, Bathroom, Car with 0

In [9]:
homeprices[['Propertycount','Distance','Bedroom2','Bathroom','Car']] = homeprices[['Propertycount','Distance','Bedroom2','Bathroom','Car']].fillna(0)
homeprices[['Propertycount','Distance','Bedroom2','Bathroom','Car']]

       Propertycount  Distance  Bedroom2  Bathroom  Car
0             4019.0       2.5       2.0       1.0  1.0
1             4019.0       2.5       2.0       1.0  1.0
2             4019.0       2.5       2.0       1.0  0.0
3             4019.0       2.5       3.0       2.0  1.0
4             4019.0       2.5       3.0       2.0  0.0
...              ...       ...       ...       ...  ...
34852         6543.0       6.3       4.0       1.0  3.0
34853         6543.0       6.3       2.0       2.0  1.0
34854         6543.0       6.3       2.0       1.0  2.0
34855         6543.0       6.3       0.0       0.0  0.0
34856         6543.0       6.3       2.0       1.0  0.0

[34857 rows x 5 columns]

Fill Null value of land size and bidding area columns with Mean

In [10]:
homeprices[['Landsize','BuildingArea']] = homeprices[['Landsize','BuildingArea']].fillna(homeprices[['Landsize','BuildingArea']].mean())
homeprices[['Landsize','BuildingArea']]

         Landsize  BuildingArea
0      126.000000      160.2564
1      202.000000      160.2564
2      156.000000       79.0000
3        0.000000      160.2564
4      134.000000      150.0000
...           ...           ...
34852  593.000000      160.2564
34853   98.000000      104.0000
34854  220.000000      120.0000
34855  593.598993      160.2564
34856  250.000000      103.0000

[34857 rows x 2 columns]

In [11]:
# Drop whole row where there is null values in price column
homeprices.dropna(inplace=True)

Find the unique value in method column

In [12]:
homeprices['Method'].unique()

array(['S', 'SP', 'PI', 'VB', 'SA'], dtype=object)

Create a dummy data for categorical data

In [13]:
# Converting categorical data into numerical data using one hot encoding
homeprices = pd.get_dummies(homeprices,drop_first=True)
homeprices

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
1,2,1480000.0,2.5,2.0,1.0,1.0,202.000000,160.2564,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
2,2,1035000.0,2.5,2.0,1.0,0.0,156.000000,79.0000,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
4,3,1465000.0,2.5,3.0,2.0,0.0,134.000000,150.0000,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
5,3,850000.0,2.5,3.0,2.0,1.0,94.000000,160.2564,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
6,4,1600000.0,2.5,3.0,1.0,2.0,120.000000,142.0000,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,4,1480000.0,6.3,4.0,1.0,3.0,593.000000,160.2564,6543.0,0,...,0,0,0,0,0,0,0,0,1,0
34853,2,888000.0,6.3,2.0,2.0,1.0,98.000000,104.0000,6543.0,0,...,0,0,0,0,0,0,0,0,1,0
34854,2,705000.0,6.3,2.0,1.0,2.0,220.000000,120.0000,6543.0,0,...,0,0,0,0,0,0,0,0,1,0
34855,3,1140000.0,6.3,0.0,0.0,0.0,593.598993,160.2564,6543.0,0,...,0,0,0,0,0,0,0,0,1,0
34856,2,1020000.0,6.3,2.0,1.0,0.0,250.000000,103.0000,6543.0,0,...,0,0,0,0,0,0,0,0,1,0

# Building the model and check the accuracy

Create the target data and feature data where target data is price

In [14]:
# Separating predictor columns
x = homeprices.drop(['Price'],axis=1)
x

,Rooms,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,Suburb_Airport West,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
1,2,2.5,2.0,1.0,1.0,202.000000,160.2564,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0
2,2,2.5,2.0,1.0,0.0,156.000000,79.0000,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0
4,3,2.5,3.0,2.0,0.0,134.000000,150.0000,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0
5,3,2.5,3.0,2.0,1.0,94.000000,160.2564,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0
6,4,2.5,3.0,1.0,2.0,120.000000,142.0000,4019.0,0,0,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,4,6.3,4.0,1.0,3.0,593.000000,160.2564,6543.0,0,0,...,0,0,0,0,0,0,0,0,1,0
34853,2,6.3,2.0,2.0,1.0,98.000000,104.0000,6543.0,0,0,...,0,0,0,0,0,0,0,0,1,0
34854,2,6.3,2.0,1.0,2.0,220.000000,120.0000,6543.0,0,0,...,0,0,0,0,0,0,0,0,1,0
34855,3,6.3,0.0,0.0,0.0,593.598993,160.2564,6543.0,0,0,...,0,0,0,0,0,0,0,0,1,0
34856,2,6.3,2.0,1.0,0.0,250.000000,103.0000,6543.0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [15]:
# Separating target column
y = homeprices[['Price']]
y

           Price
1      1480000.0
2      1035000.0
4      1465000.0
5       850000.0
6      1600000.0
...          ...
34852  1480000.0
34853   888000.0
34854   705000.0
34855  1140000.0
34856  1020000.0

[27244 rows x 1 columns]

In [16]:
# Split training and testing data
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=2)

In [17]:
x_train

,Rooms,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,Suburb_Airport West,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
12799,2,4.4,2.0,1.0,1.0,0.000000,62.0000,3593.0,0,0,...,0,0,0,0,1,0,0,0,0,0
477,3,6.3,0.0,0.0,0.0,593.598993,160.2564,4836.0,0,0,...,0,0,0,0,0,0,0,1,0,0
29182,3,14.7,3.0,2.0,2.0,580.000000,160.2564,16166.0,0,0,...,1,0,0,0,0,0,0,0,1,0
21339,3,8.4,3.0,1.0,2.0,593.598993,160.2564,8801.0,0,0,...,0,0,0,0,0,0,0,1,0,0
22275,3,5.2,3.0,1.0,2.0,212.000000,160.2564,11918.0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24177,4,10.2,4.0,1.0,0.0,828.000000,160.2564,2894.0,0,0,...,0,0,0,0,0,0,0,1,0,0
15171,1,10.1,1.0,1.0,1.0,0.000000,160.2564,4442.0,0,0,...,0,0,0,0,0,0,0,1,0,0
8585,3,11.2,3.0,1.0,1.0,563.000000,118.0000,21650.0,0,0,...,0,0,0,0,1,0,0,0,0,0
3351,3,7.8,3.0,1.0,1.0,404.000000,160.2564,11204.0,0,0,...,0,0,0,0,1,0,0,0,0,0
30337,2,7.5,0.0,0.0,0.0,593.598993,160.2564,9264.0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [18]:
x_test

,Rooms,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,Suburb_Airport West,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
32841,4,15.2,4.0,1.0,1.0,573.000000,119.0000,4497.0,0,0,...,0,0,0,0,0,0,0,1,0,0
10813,2,5.1,2.0,1.0,1.0,0.000000,160.2564,4380.0,0,0,...,0,0,0,0,0,0,0,1,0,0
7211,2,2.3,2.0,1.0,1.0,215.000000,0.0000,6821.0,0,0,...,0,0,0,0,1,0,0,0,0,0
17799,1,7.0,1.0,1.0,1.0,0.000000,39.0000,8870.0,0,0,...,0,0,0,0,1,0,0,0,0,0
3397,3,7.8,0.0,0.0,0.0,593.598993,160.2564,11204.0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20856,4,15.5,4.0,2.0,4.0,593.598993,231.0000,5336.0,0,0,...,0,0,0,0,0,0,0,0,1,0
33317,3,7.5,3.0,1.0,1.0,440.000000,160.2564,9264.0,0,0,...,0,0,0,0,0,0,0,0,1,0
25323,4,12.0,4.0,1.0,1.0,736.000000,160.2564,21650.0,0,0,...,0,0,0,0,1,0,0,0,0,0
4641,2,9.2,0.0,0.0,0.0,593.598993,160.2564,10412.0,0,0,...,0,0,0,0,0,0,0,1,0,0
11400,2,7.5,2.0,2.0,1.0,78.000000,160.2564,6482.0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [19]:
y_train

           Price
12799   450000.0
477    2865000.0
29182   580000.0
21339  1250000.0
22275  1280000.0
...          ...
24177  1516000.0
15171   330000.0
8585    787000.0
3351   1030000.0
30337   450000.0

[19070 rows x 1 columns]

In [20]:
y_test

           Price
32841  1720000.0
10813   555000.0
7211    841000.0
17799   415000.0
3397    800000.0
...          ...
20856   762000.0
33317  1465000.0
25323   850000.0
4641    585000.0
11400   705000.0

[8174 rows x 1 columns]

Create a linear regression model for Target and feature data

In [21]:
# Building the linear regression model using training data
linear_regression = LinearRegression()
linear_regression.fit(x_train,y_train)

LinearRegression()

Check if the model is overfitting or underfitting or it is accurate

In [22]:
# Accuracy for testing data set
linear_regression.score(x_test,y_test)

0.13853683161462083

In [23]:
# Accuracy for training data set
linear_regression.score(x_train,y_train)

0.6827792395792723

If the model is overfitting then apply ridge and lasso regression algorithms

In [25]:
from sklearn.linear_model import Ridge,Lasso

# Ridge Regression

In [34]:
# Building the ridge regression model using training data
ridge_regression = Ridge(alpha=50,max_iter=100)
ridge_regression.fit(x_train,y_train)

Ridge(alpha=50, max_iter=100)

In [35]:
# Accuracy for testing data set
ridge_regression.score(x_test,y_test)

0.6670848945194957

In [36]:
# Accuracy for training data set
ridge_regression.score(x_train,y_train)

0.6622376739684328

# Lasso Regression

In [37]:
import warnings
warnings.filterwarnings('ignore')

In [38]:
# Building the lasso regression model using training data
lasso_regression = Lasso(alpha=50,max_iter=100)
lasso_regression.fit(x_train,y_train)

Lasso(alpha=50, max_iter=100)

In [39]:
# Accuracy for testing data set
lasso_regression.score(x_test,y_test)

0.6637669697137103

In [40]:
# Accuracy for training data set
lasso_regression.score(x_train,y_train)

0.6767356948457683

Extract slope and intercept value from the model

In [41]:
print("Slope :",lasso_regression.coef_)

Slope : [ 2.71089272e+05 -2.88667077e+04 -8.48614300e+04  1.23135215e+05
  4.17849328e+04  2.52850104e+00  8.63250845e+01  4.11000142e+00
  2.27764796e+05 -1.15779485e+05 -0.00000000e+00  3.53965790e+05
  1.62059452e+05  3.06431878e+05  1.26619910e+05 -1.09122775e+05
 -1.38847219e+05 -0.00000000e+00  1.31429776e+05 -7.97283722e+04
 -3.01299639e+04  0.00000000e+00  5.36000432e+03 -1.60359999e+05
 -0.00000000e+00 -2.64730499e+05  0.00000000e+00 -9.72078714e+03
  2.23207659e+05  5.33004608e+04  3.18044124e+04 -0.00000000e+00
  0.00000000e+00 -0.00000000e+00  1.78910341e+05 -1.71594567e+05
  1.16931727e+04 -1.09941224e+05  4.14261294e+04  2.44584785e+05
  1.87484824e+05 -6.06775948e+03 -0.00000000e+00  3.61795069e+04
  1.66268592e+04  0.00000000e+00  2.47993692e+05 -1.31747166e+05
 -0.00000000e+00  4.89648839e+05 -0.00000000e+00  3.15855925e+04
  0.00000000e+00  2.04196724e+05  3.77364033e+04  6.41030840e+04
 -0.00000000e+00  0.00000000e+00 -1.72737275e+05  0.00000000e+00
 -2.19340136e+05 -0.00000000e+00 -0.00000000e+00 -5.27084084e+04
 -8.63056446e+03 -0.00000000e+00 -3.97225301e+04  1.09904318e+05
 -0.00000000e+00  5.84493315e+05  1.22696278e+05  2.75796856e+05
 -3.98856795e+04 -5.10809340e+04  1.41784348e+05 -1.52205801e+05
 -1.49940257e+05  0.00000000e+00  1.43128963e+04  0.00000000e+00
 -3.63243327e+04  2.01817096e+05 -4.60335595e+04 -2.37378655e+05
 -0.00000000e+00 -2.40891453e+05  7.78416533e+04 -1.12671932e+05
  8.62310832e+04  0.00000000e+00 -8.85270394e+04 -1.86599334e+05
 -0.00000000e+00  1.61466090e+04  0.00000000e+00 -6.62324176e+04
 -0.00000000e+00  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
 -0.00000000e+00  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
  0.00000000e+00 -1.48817640e+05 -0.00000000e+00 -1.27078405e+05
  0.00000000e+00  0.00000000e+00 -1.28964914e+04 -0.00000000e+00
 -2.94590146e+04 -6.21260040e+04  0.00000000e+00 -1.68029588e+05
 -7.35864492e+04  0.00000000e+00  2.68601347e+04  6.24550719e+04
 -2.79395750e+05 -0.00000000e+00  4.46985205e+05  3.34105848e+05
  8.58127716e+04  4.60007832e+04 -2.15648074e+04 -1.86958908e+05
  1.00107658e+05  0.00000000e+00 -1.21955758e+05 -2.48348045e+04
  1.01112985e+05  6.76734714e+03 -0.00000000e+00  0.00000000e+00
  0.00000000e+00  1.93122958e+05  4.86001838e+04  4.73268574e+04
  0.00000000e+00  1.75350629e+05  2.86009076e+05 -1.01475186e+05
  0.00000000e+00 -1.13483761e+04  6.20705844e+04 -2.09630628e+04
  2.51672048e+05 -1.23721592e+03  0.00000000e+00  0.00000000e+00
 -4.64335238e+04 -3.03901831e+04 -3.75290424e+04  2.05950853e+05
 -1.69166787e+05 -2.34204827e+05 -4.20705953e+04  3.31829490e+04
 -1.94811982e+05  0.00000000e+00  2.40581389e+05 -1.52044190e+05
 -0.00000000e+00 -1.66499363e+05 -5.93970303e+04  0.00000000e+00
 -0.00000000e+00  0.00000000e+00 -3.79914507e+03 -2.33573372e+05
 -3.55181369e+05 -6.51911942e+04 -4.09650587e+04  4.77715042e+03
  2.86471040e+04 -4.61107944e+03 -0.00000000e+00  9.39436213e+04
  5.10169858e+05 -1.82984712e+04  0.00000000e+00 -8.54200388e+04
  4.79145245e+04 -0.00000000e+00  1.15177632e+05  0.00000000e+00
 -0.00000000e+00 -1.01052575e+05  0.00000000e+00 -8.34458600e+04
 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00 -1.09087413e+04
  7.73915675e+04 -3.32080088e+03  0.00000000e+00  0.00000000e+00
 -5.05877791e+04  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
 -5.99017684e+04  4.22468042e+05 -5.75011412e+04 -0.00000000e+00
  9.41356274e+04  0.00000000e+00  1.18704606e+04 -0.00000000e+00
  3.31572241e+04 -0.00000000e+00  1.02241073e+05  0.00000000e+00
  0.00000000e+00  6.72031525e+05 -7.73495983e+04  8.83328721e+04
 -0.00000000e+00  5.94948843e+04 -2.58250576e+04 -0.00000000e+00
  8.35414646e+04 -1.43063077e+05 -4.84323034e+04  1.48942114e+05
 -0.00000000e+00  1.22605286e+05 -0.00000000e+00 -4.74898439e+04
  0.00000000e+00 -2.69276047e+06  0.00000000e+00  0.00000000e+00
 -0.00000000e+00 -2.99279840e+04  0.00000000e+00  2.24576517e+05
  0.00000000e+00 -0.00000000e+00  5.00564126e+03  0.00000000e+00
 -0.00000000e+00 -2.43859801e+05 -0.00000000e+00  4.20298605e+04
  0.00000000e+00  2.00291267e+05  2.74640347e+05 -7.69293612e+04
  0.00000000e+00  0.00000000e+00  0.00000000e+00 -9.74065332e+04
  2.38864224e+04 -2.50378721e+05 -7.61408715e+04  3.44050496e+05
 -0.00000000e+00 -1.42459343e+05 -0.00000000e+00  0.00000000e+00
  2.87037722e+04  4.77280165e+04 -1.19030489e+05 -0.00000000e+00
  0.00000000e+00 -1.04667426e+05 -8.55853572e+04 -7.06985670e+04
 -0.00000000e+00  1.96704534e+05  0.00000000e+00 -0.00000000e+00
  2.78065606e+04  0.00000000e+00  7.77891566e+04  0.00000000e+00
 -0.00000000e+00 -0.00000000e+00  3.79651321e+04 -5.63817363e+04
 -0.00000000e+00 -2.58844529e+05 -0.00000000e+00  0.00000000e+00
  0.00000000e+00  7.44113055e+04 -1.41181526e+05 -3.26174993e+04
  4.90014704e+04 -9.29266820e+04  2.80552183e+05  1.10284516e+05
  0.00000000e+00 -8.16157908e+04  1.18096271e+04  3.20814576e+04
 -0.00000000e+00 -4.33963037e+04 -4.44497112e+03  0.00000000e+00
  9.33412856e+04 -1.27269117e+05  0.00000000e+00  4.57443763e+04
  9.88773059e+04  1.27093277e+05  2.94363964e+03 -0.00000000e+00
  1.36803972e+05  0.00000000e+00  0.00000000e+00  0.00000000e+00
 -2.84493892e+05  0.00000000e+00  0.00000000e+00 -1.23466175e+05
 -9.08159143e+04  1.46443087e+05 -0.00000000e+00 -0.00000000e+00
 -1.63413401e+04 -1.26278422e+05 -0.00000000e+00 -6.48687917e+04
 -0.00000000e+00 -3.34855930e+04  0.00000000e+00 -0.00000000e+00
 -7.24296619e+04  0.00000000e+00  0.00000000e+00  0.00000000e+00
  3.49915052e+05  0.00000000e+00 -2.47543315e+04  3.87944594e+04
 -0.00000000e+00  2.41488575e+05 -1.68613547e+05  0.00000000e+00
  5.31830010e+04 -0.00000000e+00  0.00000000e+00 -2.74329769e+05
 -4.76414153e+05  6.67210833e+04  2.24320477e+04  2.82133646e+04
  1.35330789e+04 -0.00000000e+00  0.00000000e+00  6.27256264e+05
  0.00000000e+00  0.00000000e+00  0.00000000e+00  4.09222638e+03
 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00
  0.00000000e+00  4.04001879e+03 -0.00000000e+00 -0.00000000e+00
  0.00000000e+00 -0.00000000e+00  0.00000000e+00 -0.00000000e+00
  0.00000000e+00  9.81280304e+04  0.00000000e+00  0.00000000e+00
 -0.00000000e+00 -0.00000000e+00 -5.66083182e+04 -3.61442797e+02
  0.00000000e+00  0.00000000e+00 -0.00000000e+00  0.00000000e+00
  1.57012698e+04  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00 -0.00000000e+00 -0.00000000e+00 -5.11506694e+04
 -8.06939818e+02  1.28785728e+04  0.00000000e+00 -1.02200890e+04
  0.00000000e+00  3.61970090e+04  0.00000000e+00 -0.00000000e+00
  1.97000741e+04 -0.00000000e+00  0.00000000e+00  0.00000000e+00
 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00  3.57037040e+05
  0.00000000e+00  0.00000000e+00  3.10170106e+04  3.57316615e+05
  2.86189391e+04 -0.00000000e+00  7.98073026e+03 -0.00000000e+00
  3.81150085e+04 -0.00000000e+00  5.45479960e+04 -0.00000000e+00
  0.00000000e+00  0.00000000e+00  1.55941470e+05  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00 -6.66198071e+04
 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00  0.00000000e+00
 -0.00000000e+00 -0.00000000e+00  8.19421126e+05  6.28019712e+04
 -0.00000000e+00  0.00000000e+00 -7.39503862e+04  0.00000000e+00
 -2.21746584e+04 -2.67655890e+04 -0.00000000e+00 -0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  5.42923853e+01
  0.00000000e+00  0.00000000e+00 -0.00000000e+00  1.95028780e+03
 -0.00000000e+00 -0.00000000e+00  0.00000000e+00  0.00000000e+00
 -0.00000000e+00  0.00000000e+00 -0.00000000e+00  0.00000000e+00
 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00 -5.09622326e+04
 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00  2.41642983e+04
 -0.00000000e+00  0.00000000e+00 -0.00000000e+00  1.04711495e+06
 -4.39432927e+04 -0.00000000e+00  0.00000000e+00 -1.38472338e+05
 -0.00000000e+00 -0.00000000e+00 -2.69973315e+04  0.00000000e+00
  0.00000000e+00 -0.00000000e+00  3.92471779e+05  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00 -0.00000000e+00
 -0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  4.82149554e+04  5.97553570e+03  8.44296507e+04  0.00000000e+00
  0.00000000e+00 -0.00000000e+00 -0.00000000e+00  0.00000000e+00
 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00  4.65969490e+05
 -0.00000000e+00  0.00000000e+00  5.14639567e+05 -0.00000000e+00
  0.00000000e+00 -1.47812341e+05 -9.06288306e+03 -0.00000000e+00
  5.16779880e+05 -0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
  1.50295789e+05  3.59479151e+04  0.00000000e+00 -0.00000000e+00
 -0.00000000e+00  0.00000000e+00 -8.22845181e+04  0.00000000e+00
 -0.00000000e+00 -5.72060411e+04 -0.00000000e+00  0.00000000e+00
  3.01403992e+05 -1.24120564e+05 -0.00000000e+00  1.55972801e+05
  7.14892094e+04  0.00000000e+00  2.72754370e+04 -0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00 -0.00000000e+00
 -0.00000000e+00  0.00000000e+00  2.62721021e+04 -0.00000000e+00
  9.15438134e+04 -0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00 -1.47195551e+05 -0.00000000e+00 -0.00000000e+00
  0.00000000e+00 -0.00000000e+00  1.34657587e+04  0.00000000e+00
  0.00000000e+00  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
  1.40659413e+05 -3.12096768e+04  0.00000000e+00 -9.80964467e+03
 -1.61002135e+05  0.00000000e+00  0.00000000e+00  0.00000000e+00
 -0.00000000e+00  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
 -0.00000000e+00 -0.00000000e+00  0.00000000e+00 -5.62348503e+04
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  1.18429196e+05  7.54082789e+04  2.06405025e+04 -4.30858062e+04
  1.02040424e+04  0.00000000e+00 -0.00000000e+00  0.00000000e+00
  0.00000000e+00 -0.00000000e+00 -0.00000000e+00  0.00000000e+00
  0.00000000e+00 -0.00000000e+00 -6.47490294e+04  0.00000000e+00
 -0.00000000e+00  0.00000000e+00 -0.00000000e+00  2.39150354e+05
 -0.00000000e+00 -4.31178996e+03 -0.00000000e+00 -3.62122190e+04
 -0.00000000e+00  0.00000000e+00  5.17897641e+04  0.00000000e+00
 -0.00000000e+00  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
  0.00000000e+00  0.00000000e+00  2.15243327e+04 -0.00000000e+00
 -0.00000000e+00  0.00000000e+00 -1.56921730e+05  0.00000000e+00
  0.00000000e+00  7.35621651e+04  0.00000000e+00  0.00000000e+00
 -0.00000000e+00  0.00000000e+00 -3.56850892e+04 -1.85611032e+03
  0.00000000e+00  0.00000000e+00  0.00000000e+00  1.28734356e+06
  0.00000000e+00  0.00000000e+00 -0.00000000e+00 -0.00000000e+00
 -4.07259045e+03  0.00000000e+00 -4.54956101e+03 -0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00 -0.00000000e+00
 -0.00000000e+00 -8.83609980e+04 -0.00000000e+00 -5.78829811e+04
  0.00000000e+00  0.00000000e+00 -0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00 -0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00 -0.00000000e+00
  3.83792675e+04 -0.00000000e+00  0.00000000e+00  0.00000000e+00
 -0.00000000e+00  0.00000000e+00  0.00000000e+00 -0.00000000e+00
 -1.25172270e+04  0.00000000e+00 -2.63387004e+02 -0.00000000e+00
  2.87024904e+04  1.42642302e+04 -8.98505821e+04 -0.00000000e+00
 -0.00000000e+00 -0.00000000e+00 -0.00000000e+00 -6.61201270e+02
 -0.00000000e+00  1.74428886e+04 -4.69519945e+04  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
 -3.28116681e+04  3.93089230e+05  4.08442761e+05 -2.68742972e+05
  1.44178448e+05  2.07100088e+04 -0.00000000e+00  2.28036405e+05
  2.39006034e+05 -1.03995866e+03 -5.88037036e+04 -2.59949483e+05
  2.26438123e+05 -0.00000000e+00  2.43661675e+05  1.20888730e+05
 -8.65248761e+04  4.15137003e+04  1.45478341e+05 -2.48720328e+05
  0.00000000e+00  9.15220030e+04  9.14879650e+04  0.00000000e+00
 -1.45478571e+04 -2.83285729e+04  1.61120933e+05  4.40157125e+05
  7.29940693e+04 -1.55593693e+05 -3.27081806e+05  1.21437216e+05
 -0.00000000e+00  6.71549614e+04 -1.10034837e+05  8.72278011e+04
  4.06469139e+03  1.65220302e+04 -1.31810463e+05  5.80831525e+04]

In [42]:
print("\nIntercept :",lasso_regression.intercept_)

Intercept : [527709.15960506]

Display Mean Squared Error

In [43]:
predicted_value = lasso_regression.predict(x_test)
predicted_value

array([1675010.45656789, 1092144.70322204,  909605.99573169, ...,
        909903.7420161 ,  793233.07561304, 1202949.89723908])

In [44]:
y_test

           Price
32841  1720000.0
10813   555000.0
7211    841000.0
17799   415000.0
3397    800000.0
...          ...
20856   762000.0
33317  1465000.0
25323   850000.0
4641    585000.0
11400   705000.0

[8174 rows x 1 columns]

In [45]:
# Mean Squared Error
mean_squared_error(y_test,predicted_value)

133591688422.44235

Display Mean Absolute Error

In [46]:
# Mean Absolute Error
mean_absolute_error(y_test,predicted_value)

236920.9358677323

Display Root mean Squared error

In [47]:
# Root Mean Squared Error
np.sqrt(mean_squared_error(y_test,predicted_value))
# or
# mean_squared_error(y_test,predicted_value) ** (1/2)

365501.9677408623

Display R2 score

In [48]:
# R2 score
r2_score(y_test,predicted_value)

0.6637669697137103